@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Click Upload image</h1>
    <p><label class="btn btn-default">
        Upload image <input type="file" id="uploadEditorImage" accept="image/*" class="hidden" />
        </label></p>
    <p id="status"></p>
</div>